.task-form-container{
    width: 80%;
    display: flex;
    margin:0 auto;
}

.task-form-container__input{
    width: 75%;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
    border:2px solid #F0F4F7;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /*backdrop-filter: blur(1px);*/
    border-radius: 20px;
}

.task-form-container__input:focus{
   outline: none;
}

.task-form-container__btn{
    width: 50px;
    height: 50px;
    margin: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #6FDC48BF;
    border-radius: 50%;
    color:#fff;
    border:none;
}

.task-form-container__btn:hover{
    background-color: rgb(93, 179, 61);
}