@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.taskList-container{
    width: 50%;
    height: 100%;
    margin:0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.title-info-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.title-info-container h1,.title-info-container p{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 90px;
    margin: auto;
    font-family: 'Righteous', sans-serif;
}

.title-info-container p{
    font-size: 20px;
}