@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.task-tracker-container{
    width: 55%;
    height: 100%;
    margin:0 auto;
    padding-right: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.title-info-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    height: 20%;
}

.title-info-container h1,.title-info-container p{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 90px;
    margin: auto;
    font-family: 'Righteous', sans-serif;
}

.title-info-container p{
    font-size: 20px;
}


@media screen and (max-width: 1000px) and (min-width: 780px) {
    .task-tracker-container{
        width: 70%;
    }
    .title-info-container h1{
        font-size: 60px;
    }
}
@media screen and (max-width: 780px) {
    .task-tracker-container{
        width: 100%;
    }

    .title-info-container h1{
        font-size: 50px;
    }
    .title-info-container p{
        font-size: 15px;
    }

}