.task-list-container{
    width: 100%;
    max-width: 514px;
    height: 67%;
    display: flex;
    flex-direction: column;
}

.task-list-items{
    margin: 0 20px;
    /*max-height: 80%;*/
    overflow-y: auto;
    height: 100%;
}

.task-list-items::-webkit-scrollbar {
    width:8px;
    border-radius: 10px;
    background-color: #fff;
}

.task-list-items::-webkit-scrollbar-thumb{
    background: #aeaeb9;
    border-radius: 5px;
}